<!DOCTYPE HTML>
<html lang="en">
  <head>
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Libre+Baskerville|    Roboto:700,500,300|Roboto+Condensed">
    <script type="text/javascript" src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
    <title>{{ page.title }}</title>
  </head>
  <body>
    <div id="column">
      <div class="content">
        {{ content }}
      </div>
    </div>
  </body>
</html>
